<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="keywords"
          content="收录最全的磁力链接搜索网站|种子搜索神器|种子搜索网站|种子搜索|磁力链接|磁力搜索|磁力下载|磁力云|BT种子|torrent种子|磁力资源| torrentkitty|btspread|"/>
    <meta name="description"
          content="磁力云（ciliyun.net）是一个BT种子、磁力链接搜索网站，网站索引数千万的BT种子、磁力链接，包括电影、剧集、音乐、图书、软件、动漫、软件、教程、图片、综艺、游戏等资源，因此又被誉为BT种子搜索神器！"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="1 days"/>
    <meta name="document-state" content="dynamic"/>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}"/>
    {% block ex_css %}
    {% end %}
</head>
<body id="home" onload="document.btform.name.focus();">
<div class="header">
    <div class="ding1">
        <a style="float: left; line-height: 36px;color:#fff" href="#">首页</a>
        <a style="float: left; line-height: 36px; padding-left: 20px;color:#fff" href="Index/jc.html"
           target="_blank">教程</a>
        <a style="float: left; line-height: 36px; padding-left: 20px;color:#fff"
           href="http://www.ciliyun.org/Index/cl.html" target="_blank">磁力转种子</a>
    </div>
</div>
{% block content %}

{% end %}}
<div id="footer">
    <div class="ding">
        <div class="footerss"><span style="float:left">Copyright (c) 磁力+@零零后中国  All Rights Reserved</span></div>
        <div class="footerss"><span style="float:left"><a href="#" target="_blank">免责声明</a></span></div>
        <div class="footerss"><span style="float:left"></span></div>
        <div class="footerss"><span style="float:right">合作： <a href="#" target=_blank>点击QQ联系</a></span></div>
    </div>
</div>
{% block ex_js %}
{% end %}
</body>
</html>