
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title{{title}}</title>
<meta name="keywords" content="收录最全的磁力链接搜索网站|种子搜索神器|种子搜索网站|种子搜索|磁力链接|磁力搜索|磁力下载|磁力云|BT种子|torrent种子|磁力资源| torrentkitty|btspread|"/>
<meta name="description" content="磁力云（ciliyun.net）是一个BT种子、磁力链接搜索网站，网站索引数千万的BT种子、磁力链接，包括电影、剧集、音乐、图书、软件、动漫、软件、教程、图片、综艺、游戏等资源，因此又被誉为BT种子搜索神器！"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="robots" content="index,follow"/>
<meta name="revisit-after" content="1 days"/>
<meta name="document-state" content="dynamic"/>
<link href="{{static_url('css/style.css')}}" type="text/css" rel="stylesheet"/>
<link rel="shortcut icon" href="{{static_url('img/favicon.ico')}}"/>
</head>
<body id="home" onload="document.btform.name.focus();">
<div class="header">
<div class="ding1">
<a style="float: left; line-height: 36px;color:#fff" href="#">首页</a>
<a style="float: left; line-height: 36px; padding-left: 20px;color:#fff" href="Index/jc.html" target="_blank">教程</a>
<a style="float: left; line-height: 36px; padding-left: 20px;color:#fff" href="http://www.ciliyun.org/Index/cl.html" target="_blank">磁力转种子</a>
</div>
</div>
<div id="header">
<h1 id="logo"><img src="{{static_url('img/logo.png')}}" height="80px" alt="磁力+(bt.china-00.com)"/></h1>
<p class="slogan">最懂你的磁力链接搜索引擎</p>
<div id="sbox">
<form name="btform" action="/search">
<input type="text" baiduSug="2" autocomplete="off" placeholder="请输入电影、音乐、软件等资源名称..." id="input" name="kw" class="stbox"/>
<input type="submit" onmouseout="this.className=''" onmousedown="this.className='mousedown'" onmouseover="this.className='hover'" value="搜索" id="sbutton"/>
</form>
</div>
<div id="nums">免责声明：本站资源来源于DHT网络和BT种子分享站，本站不保存任何侵权、违法数据。</div>
</div>
{% block content %}
<div class="hotwords">
<a class="HotKey" href="/word/%E9%87%91%E5%88%9A.html">金刚</a><a class="HotKey" href="/word/%E9%87%91%E5%88%9A%E7%8B%BC3.html">金刚狼3</a><a class="HotKey" href="/word/%E9%80%83%E5%87%BA%E7%BB%9D%E5%91%BD%E9%95%87.html">逃出绝命镇</a><a class="HotKey" href="/word/%E7%BB%91%E6%9E%B6%E8%80%85.html">绑架者</a><a class="HotKey" href="/word/%E8%B6%8A%E7%8B%B1.html">越狱</a><a class="HotKey" href="/word/%E4%B8%80%E6%9D%A1%E7%8B%97%E7%9A%84%E4%BD%BF%E5%91%BD.html">一条狗的使命</a><a class="HotKey" href="/word/%E7%A5%9E%E5%81%B7%E5%A5%B6%E7%88%B82.html">神偷奶爸2</a><a class="HotKey" href="/word/%E7%A0%B4%E5%9D%8F%E8%80%85.html">破坏者</a> </div>
{% block content %}}
</div>

<div id="footer">
<div class="ding">
<div class="footerss"><span style="float:left">Copyright (c) 磁力+@零零后中国  All Rights Reserved</span></div>
<div class="footerss"><span style="float:left"><a href="#" target="_blank">免责声明</a></span></div>
<div class="footerss"><span style="float:left"></span></div>
<div class="footerss"><span style="float:right">合作： <a href="#" target=_blank>点击QQ联系</a></span></div>
</div>
</div>
</body>
</html>