{% extends "base.html" %}
{% block ex_css %}
<link href="{{ static_url('css/style.css') }}" type="text/css" rel="stylesheet"/>

{% end %}

{% block content %}
<div id="header">
    <h1 id="logo"><img src="{{ static_url('img/logo.png') }}" height="80px" alt="磁力+(bt.china-00.com)"/></h1>
    <p class="slogan">最懂你的磁力链接搜索引擎</p>
    <div id="sbox">
        <form name="btform" action="/search">
            <input type="text" baiduSug="2" autocomplete="off" placeholder="请输入电影、音乐、软件等资源名称..." id="input"
                   name="word" class="stbox"/>
            <input type="submit" onmouseout="this.className=''" onmousedown="this.className='mousedown'"
                   onmouseover="this.className='hover'" value="搜索" id="sbutton"/>
        </form>
    </div>
    <div id="nums">免责声明：本站资源来源于DHT网络和BT种子分享站，本站不保存任何侵权、违法数据。</div>
</div>
<div class="hotwords">
    <a class="HotKey" href="/word/%E9%87%91%E5%88%9A.html">金刚</a><a class="HotKey"
                                                                    href="/word/%E9%87%91%E5%88%9A%E7%8B%BC3.html">金刚狼3</a><a
        class="HotKey" href="/word/%E9%80%83%E5%87%BA%E7%BB%9D%E5%91%BD%E9%95%87.html">逃出绝命镇</a><a class="HotKey"
                                                                                                   href="/word/%E7%BB%91%E6%9E%B6%E8%80%85.html">绑架者</a><a
        class="HotKey" href="/word/%E8%B6%8A%E7%8B%B1.html">越狱</a><a class="HotKey"
                                                                     href="/word/%E4%B8%80%E6%9D%A1%E7%8B%97%E7%9A%84%E4%BD%BF%E5%91%BD.html">一条狗的使命</a><a
        class="HotKey" href="/word/%E7%A5%9E%E5%81%B7%E5%A5%B6%E7%88%B82.html">神偷奶爸2</a><a class="HotKey"
                                                                                           href="/word/%E7%A0%B4%E5%9D%8F%E8%80%85.html">破坏者</a>
</div>
{% end %}