{% extends "base.html" %}

{% block ex_css %}
<link href="{{ static_url('css/style_search.css') }}" type="text/css" rel="stylesheet"/>
{% end %}

{% block content %}
<div id="header">
    <div class="ding">
        <h1 id="logo"><a href="/" title="磁力云"><img src="{{ static_url('img/logo.png') }}" width="180" height="40"
                                                   alt="磁力云(www.ciliyun.org)"/></a></h1>
        <div id="sbox">
            <form name="btform" action="/">
                <input type="text" autocomplete="off" id="input" name="kw" placeholder="请输入电影、音乐、软件等资源名称" class="stbox"
                       value="{{ title }}"/>
                <input type="submit" onmouseout="this.className=''" onmousedown="this.className='mousedown'"
                       onmouseover="this.className='hover'" value="搜索" id="sbutton"/>
            </form>
        </div>
    </div>
</div>

<div class="ding">
    <div id="container">
        <div class="main">
            <ul class="mlist">
                {% for item in list_item %}
                <li>
                    <div class="T1"><a href="/detail?ori_url={{ item.detail_url }}"
                                       target="_blank">{{ item.title }}</a>
                    </div>
                    <dl class="BotInfo">
<span>
<span class="ctime">大小: {{ item.size }}
文件数:
创建日期: {{ item.create_time }}
热度: {{ item.hot }}</span>
</span></dt>
                    </dl>
                    <div class="dInfo">请使用迅雷，旋风，百度云盘离线，115网盘离线等进行下载</div>
                </li>
                {% end %}
                <div id="mpages">
                    <div class="pg">
                        {% for page in pages %}
                        <a href="/search?word={{ title }}&url={{ page[1] }}"> {{ page[0] }} </a>
                        {% end %}
                    </div>
                </div>
            </ul>
            <br></br>
        </div>
    </div>
</div>
{% end %}